# Copy to .env and fill in your values
# .env is in .gitignore — never commit it

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-southeast-2
S3_BUCKET=market-risk-dev-raw-593153124201-ap-southeast-2-an

# Databricks
DATABRICKS_HOST=dbc-4182d793-e59a.cloud.databricks.com
DATABRICKS_TOKEN=
DATABRICKS_HTTP_PATH=/sql/1.0/warehouses/cf4f34c37736cebe
DATABRICKS_CATALOG=market_risk_dev

# Airflow
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__WEBSERVER__SECRET_KEY=

# Grafana
GF_SECURITY_ADMIN_PASSWORD=marketrisk2024